# Ignore macOS system files
.DS_Store

# Ignore Xcode project user-specific files
*.xcuserdata
*.xcworkspace/xcuserdata
*.xcscmblueprint

# Ignore build artifacts and DerivedData
DerivedData/
build/
Products/
Frameworks/

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Ignore Xcode-generated schemes and logs
*.xcuserstate
*.xcuserdatad/
*.xcdebugger/
*.xcscheme

# Ignore PlutoSDKTestApp build files
PlutoSDKTestApp/DerivedData/
PlutoSDKTestApp/build/

# Ignore temp files
*.log

Sources/Resources/*.a
